body {
  background-color: #111;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 24px;
}

.showMore {
  text-align: center;
  background-color: #e50914;
  border: none;
  color: white;
  padding: 15px;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 25px;
}

@media screen and (max-width: 551px) {
  h2 {
    font-size: 21px;
  }
}